@using LosGolosos.Models
@model List<ProductoCLS>
@{
    ViewBag.Title = "Ordenar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<ProductoCLS> carrito = (List<ProductoCLS>)Session["Carrito"];
}

<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(@Url.Content("~/theme/images/bg-title-page-01.jpg"));">
    <h2 class="tit6 t-center">
        Productos
    </h2>
</section>

<section class="bg2-pattern p-t-116 p-b-80 t-center p-l-15 p-r-15">

    @using (Ajax.BeginForm("FiltroProductos", "Employees", null, new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "tableOrders",
        InsertionMode = InsertionMode.Replace
    }, new { @id = "frmFiltro" }))
    {
        @Html.TextBox("nombre", null, new { @class = "form-control", @placeholder = "Buscar producto por nombre" })
    }
    <br />
    <div id="tableOrders">
        @Html.Partial("_TableOrders", Model)
    </div>

</section>

<section class="bg2-pattern p-b-110 t-center p-l-15 p-r-15">
    @using (Ajax.BeginForm("AgregarCarrito", "Employees", null, new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "tableCart",
        InsertionMode = InsertionMode.Replace
    }, new { @id = "frmCarrito" }))
    {
        @Html.Hidden("idProducto");
    }
    <div id="contenidoOculto" hidden="hidden">
        <span class="tit2 t-center p-b-20">
            Carrito de Compras
        </span><br /><br />

        <div id="tableCart">
            @Html.Partial("_TableCart", carrito)
        </div>

        @using (Ajax.BeginForm("ProcesarCarrito", "Employees", null, new AjaxOptions
        {
            HttpMethod = "POST",
            OnSuccess = "Ocultar"
        },new { @id="rodarCarrito"}))
        {
            @Html.Hidden("idCarrito")

            <div class="ml-auto">
                <button type="button" onclick="Procesar(1)" class="ml-auto btn btn-dark size36 txt11 trans-0-4" id="btnComprar">Comprar</button>
                <button type="button" onclick="Procesar(2)" class="ml-auto btn btn-danger size36 txt11 trans-0-4" id="btnComprar">Cancelar</button>
            </div>
         }
        </div>
</section>


<script>

    function Procesar(id)
    {
        document.getElementById("idCarrito").value = id;
        $("#rodarCarrito").trigger("submit");
    }

    function Ocultar()
    {
        document.getElementById("contenidoOculto").setAttribute("hidden","hidden");
    }

    document.getElementById("nombre").addEventListener("keyup", (e) => {
        $("#frmFiltro").trigger("submit");
    });

    function getId(id)
    {
        document.getElementById("contenidoOculto").removeAttribute("hidden");

        document.getElementById("idProducto").value = id;
        $("#frmCarrito").trigger("submit");
    }
</script>

