@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Slide1 -->
<section class="section-slide">
    <div class="wrap-slick1">
        <div class="slick1">
            <div class="item-slick1 item1-slick1" style="background-image: url(@Url.Content("~/theme/images/slide1-01.jpg"));">
                <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                    <span class="caption1-slide1 txt1 t-center animated visible-false m-b-15" data-appear="fadeInDown">
                        Bienvenido a
                    </span>

                    <h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
                        Los Golosos
                    </h2>

                    <div class="wrap-btn-slide1 animated visible-false" data-appear="zoomIn">
                        <!-- Button1 -->
                        <a href="menu.html" class="btn1 flex-c-m size1 txt3 trans-0-4">
                            Ver Menú
                        </a>
                    </div>
                </div>
            </div>

            <div class="item-slick1 item2-slick1" style="background-image: url(@Url.Content("~/theme/images/master-slides-02.jpg"));">
                <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                    <span class="caption1-slide1 txt1 t-center animated visible-false m-b-15" data-appear="rollIn">
                        Bienvenido a
                    </span>

                    <h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="lightSpeedIn">
                        Los Golosos
                    </h2>

                    <div class="wrap-btn-slide1 animated visible-false" data-appear="slideInUp">
                        <!-- Button1 -->
                        <a href="menu.html" class="btn1 flex-c-m size1 txt3 trans-0-4">
                            Ver Menú
                        </a>
                    </div>
                </div>
            </div>

            <div class="item-slick1 item3-slick1" style="background-image: url(@Url.Content("~/theme/images/master-slides-01.jpg"));">
                <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                    <span class="caption1-slide1 txt1 t-center animated visible-false m-b-15" data-appear="rotateInDownLeft">
                        Bienvenido a
                    </span>

                    <h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="rotateInUpRight">
                        Los Golosos
                    </h2>

                    <div class="wrap-btn-slide1 animated visible-false" data-appear="rotateIn">
                        <!-- Button1 -->
                        <a href="menu.html" class="btn1 flex-c-m size1 txt3 trans-0-4">
                            Ver Menú
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="wrap-slick1-dots"></div>
    </div>
</section>

<!-- Welcome -->
<section class="section-welcome bg1-pattern p-t-120 p-b-105">
    <div class="container">
        <div class="row">
            <div class="col-md-6 p-t-45 p-b-30">
                <div class="wrap-text-welcome t-center">
                    <span class="tit2 t-center">
                        Panaderia Salvadoreña
                    </span>

                    <h3 class="tit3 t-center m-b-35 m-t-5">
                        Bienvenido
                    </h3>

                    <p class="t-center m-b-22 size3 m-l-r-auto">
                        Te invitamos a conocer nuestra historia, como empezamos desde 1960 en la fabricación de pan artesanal y ahora luego de mucho trabajo somos reconocidos a nivel nacional.
                    </p>

                    <a href="/Home/About" class="txt4">
                        Nuestra historia
                        <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <div class="col-md-6 p-b-30">
                <div class="wrap-pic-welcome size2 bo-rad-10 hov-img-zoom m-l-r-auto">
                    <img src="@Url.Content("~/theme/images/our-story-01.jpg")" alt="IMG-OUR">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Intro -->
<section class="section-intro">
    <div class="header-intro parallax100 t-center p-t-135 p-b-158" style="background-image: url(@Url.Content("~/theme/images/bg-intro-01.jpg"));">
        <span class="tit2 p-l-15 p-r-15">
            Visita
        </span>

        <h3 class="tit4 t-center p-l-15 p-r-15 p-t-3">
            Los Golosos
        </h3>
    </div>

    <div class="content-intro bg-white p-t-77 p-b-133">
        <div class="container">
            <div class="row">
                <div class="col-md-4 p-t-30">
                    <!-- Block1 -->
                    <div class="blo1">
                        <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
                            <img src="@Url.Content("~/theme/images/intro-01.jpg")" alt="IMG-INTRO">
                        </div>

                        <div class="wrap-text-blo1 p-t-35">
                                <h4 class="txt5 color0-hov trans-0-4 m-b-13">
                                    Postres
                                </h4>

                            <p class="m-b-20">
                                Gran variedad de postres, exquisitos sabores para deleitar tu paladar.
                            </p>

                            <a href="/Home/Menu" class="txt4">
                                Conocer más
                                <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 p-t-30">
                    <!-- Block1 -->
                    <div class="blo1">
                        <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
                            <a href="#"><img src="@Url.Content("~/theme/images/intro-02.jpg")" alt="IMG-INTRO"></a>
                        </div>

                        <div class="wrap-text-blo1 p-t-35">
                                <h4 class="txt5 color0-hov trans-0-4 m-b-13">
                                    Combos
                                </h4>

                            <p class="m-b-20">
                                Escoge entre los diferentes combos que hemos preparado especialmente para ti.
                            </p>

                            <a href="/Home/Menu" class="txt4">
                                Conocer más
                                <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 p-t-30">
                    <!-- Block1 -->
                    <div class="blo1">
                        <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
                            <a href="#"><img src="@Url.Content("~/theme/images/intro-04.jpg")" alt="IMG-INTRO"></a>
                        </div>

                        <div class="wrap-text-blo1 p-t-35">
                                <h4 class="txt5 color0-hov trans-0-4 m-b-13">
                                    Bebidas
                                </h4>
                            

                            <p class="m-b-20">
                                Escoge entre nuestras distintas ofertas en bebidas, frias o calientes.
                            </p>

                            <a href="/Home/Menu" class="txt4">
                                Conocer más
                                <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
